<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


	<!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="myvar" value="myvalue"/>

	<!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
	<targets async="true">
		<default-wrapper xsi:type="BufferingWrapper" bufferSize="30000" flushTimeout="10000">
		</default-wrapper>
		
		<target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
			layout="${longdate} ${uppercase:${level}} ${message} ${all-event-properties}" />
		
		<target xsi:type="File" name="DBServer" fileName="${basedir}/logs/${shortdate}.log"
			layout="${longdate} ${uppercase:${level}} ${message} ${all-event-properties}" />

		<target xsi:type="Database"
				name="Test"
				dbProvider="System.Data.SQLite"
				connectionString="data source=${basedir}/logs/Formula_Record.s3db;"
				commandText="insert into Test(time_stamp, level, message) values(@time_stamp, @level, @message);">

			<!--system default-->
			<parameter name="@time_stamp" layout="${date}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
		</target>

		<!--Request-->
		<target xsi:type="Database"
				name="Request"
				dbProvider="System.Data.SQLite"
				connectionString="data source=${basedir}/logs/Formula_Record.s3db;"
				commandText="insert into Request(
				time_stamp, 
				level, 
				message, 
				FarmId, 
				PlayerId, 
				BulletId, 
				WeaponType, 
				Bet, 
				Odds, 
				Hits, 
				FishId, 
				FishType, 
				FishStatus, 
				FishOdds) 
				
				values(
				@time_stamp, 
				@level, 
				@message, 
				@FarmId, 
				@PlayerId, 
				@BulletId, 
				@WeaponType, 
				@Bet, 
				@Odds, 
				@Hits, 
				@FishId, 
				@FishType, 
				@FishStatus, 
				@FishOdds);">
			
			<!--system default-->
			<parameter name="@time_stamp" layout="${date}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
			<!--custom default-->
			<parameter name="@FarmId" layout="${event-properties:item=FarmId}"/>
			<parameter name="@PlayerId" layout="${event-properties:item=PlayerId}"/>
			<parameter name="@BulletId" layout="${event-properties:item=BulletId}"/>
			<parameter name="@WeaponType" layout="${event-properties:item=WeaponType}"/>
			<parameter name="@Bet" layout="${event-properties:item=Bet}"/>
			<parameter name="@Odds" layout="${event-properties:item=Odds}"/>
			<parameter name="@Hits" layout="${event-properties:item=Hits}"/>
			<parameter name="@FishId" layout="${event-properties:item=FishId}"/>
			<parameter name="@FishType" layout="${event-properties:item=FishType}"/>
			<parameter name="@FishStatus" layout="${event-properties:item=FishStatus}"/>
			<parameter name="@FishOdds" layout="${event-properties:item=FishOdds}"/>
		</target>

		<!--Response-->
		<target xsi:type="Database"
				name="Response"
				dbProvider="System.Data.SQLite"
				connectionString="data source=${basedir}/logs/Formula_Record.s3db;"
				commandText="insert into Response(
				time_stamp, 
				level, 
				message, 
				FarmId, 
				PlayerId, 
				BulletId, 
				FishId,
				FishOdds,
				DieResult,
				Bet,
				OddsResult,
				DieRate,
				DieRatePrecent,
				Feedback) 

				values(
				@time_stamp, 
				@level, 
				@message, 
				@FarmId, 
				@PlayerId, 
				@BulletId, 
				@FishId, 
				@FishOdds, 
				@DieResult,
				@Bet,
				@OddsResult,
				@DieRate,
				@DieRatePrecent,
				@Feedback);">

			<!--system default-->
			<parameter name="@time_stamp" layout="${date}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
			<!--custom default-->
			<parameter name="@FarmId" layout="${event-properties:item=FarmId}"/>
			<parameter name="@PlayerId" layout="${event-properties:item=PlayerId}"/>
			<parameter name="@BulletId" layout="${event-properties:item=BulletId}"/>
			<parameter name="@FishId" layout="${event-properties:item=FishId}"/>
			<parameter name="@FishOdds" layout="${event-properties:item=FishOdds}"/>
			<parameter name="@DieResult" layout="${event-properties:item=DieResult}"/>
			<parameter name="@Bet" layout="${event-properties:item=Bet}"/>
			<parameter name="@OddsResult" layout="${event-properties:item=OddsResult}"/>
			<parameter name="@DieRate" layout="${event-properties:item=DieRate}"/>
			<parameter name="@DieRatePrecent" layout="${event-properties:item=DieRatePrecent}"/>
			<parameter name="@Feedback" layout="${event-properties:item=Feedback}"/>
		</target>


		<!--PlayerRecord-->
		<target xsi:type="Database"
				name="PlayerRecord"
				dbProvider="System.Data.SQLite"
				connectionString="data source=${basedir}/logs/Formula_Record.s3db;"
				commandText="insert into PlayerRecord(
				time_stamp, 
				level, 
				message, 
				FarmId,
				PlayerId,
				TotalSpending,
				WinScore,
				FireCount,
				AsnTimes,
				AsnWin,
				WinFrequency,
				SuperBombCount,
				SuperBombTotalOdds,
				ElectricNetBombCount,
				ElectricNetBombTotalOdds,
				FreePowerCount,
				FreePowerTotalOdds,
				ScreenBombCount,
				ScreenBombTotalOdds,
				ThunderBombCount,
				ThunderBombTotalOdds,
				FireBombCount,
				FireBombTotalOdds,
				DamageBombCount,
				DamageBombTotalOdds,
				OctopusBombCount,
				OctopusBombTotalOdds,
				BigOctopusBombCount,
				BigOctopusBombTotalOdds)
				
				values(
				@time_stamp, 
				@level, 
				@message, 
				@FarmId,
				@PlayerId,
				@TotalSpending,
				@WinScore,
				@FireCount,
				@AsnTimes,
				@AsnWin,
				@WinFrequency,
				@SuperBombCount,
				@SuperBombTotalOdds,
				@ElectricNetBombCount,
				@ElectricNetBombTotalOdds,
				@FreePowerCount,
				@FreePowerTotalOdds,
				@ScreenBombCount,
				@ScreenBombTotalOdds,
				@ThunderBombCount,
				@ThunderBombTotalOdds,
				@FireBombCount,
				@FireBombTotalOdds,
				@DamageBombCount,
				@DamageBombTotalOdds,
				@OctopusBombCount,
				@OctopusBombTotalOdds,
				@BigOctopusBombCount,
				@BigOctopusBombTotalOdds);">

			<!--system default-->
			<parameter name="@time_stamp" layout="${date}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
			<!--custom default-->
			<parameter name="@FarmId" layout="${event-properties:item=FarmId}"/>
			<parameter name="@PlayerId" layout="${event-properties:item=PlayerId}"/>
			<parameter name="@TotalSpending" layout="${event-properties:item=TotalSpending}"/>
			<parameter name="@WinScore" layout="${event-properties:item=WinScore}"/>
			<parameter name="@FireCount" layout="${event-properties:item=FireCount}"/>
			<parameter name="@AsnTimes" layout="${event-properties:item=AsnTimes}"/>
			<parameter name="@AsnWin" layout="${event-properties:item=AsnWin}"/>
			<parameter name="@WinFrequency" layout="${event-properties:item=WinFrequency}"/>

			<parameter name="@SuperBombCount" layout="${event-properties:item=SuperBombCount}"/>
			<parameter name="@SuperBombTotalOdds" layout="${event-properties:item=SuperBombTotalOdds}"/>
			<parameter name="@ElectricNetBombCount" layout="${event-properties:item=ElectricNetBombCount}"/>
			<parameter name="@ElectricNetBombTotalOdds" layout="${event-properties:item=ElectricNetBombTotalOdds}"/>
			<parameter name="@FreePowerCount" layout="${event-properties:item=FreePowerCount}"/>
			<parameter name="@FreePowerTotalOdds" layout="${event-properties:item=FreePowerTotalOdds}"/>
			<parameter name="@ScreenBombCount" layout="${event-properties:item=ScreenBombCount}"/>
			<parameter name="@ScreenBombTotalOdds" layout="${event-properties:item=ScreenBombTotalOdds}"/>
			<parameter name="@ThunderBombCount" layout="${event-properties:item=ThunderBombCount}"/>
			<parameter name="@ThunderBombTotalOdds" layout="${event-properties:item=ThunderBombTotalOdds}"/>
			<parameter name="@FireBombCount" layout="${event-properties:item=FireBombCount}"/>
			<parameter name="@FireBombTotalOdds" layout="${event-properties:item=FireBombTotalOdds}"/>
			<parameter name="@DamageBombCount" layout="${event-properties:item=DamageBombCount}"/>
			<parameter name="@DamageBombTotalOdds" layout="${event-properties:item=DamageBombTotalOdds}"/>
			<parameter name="@OctopusBombCount" layout="${event-properties:item=OctopusBombCount}"/>
			<parameter name="@OctopusBombTotalOdds" layout="${event-properties:item=OctopusBombTotalOdds}"/>
			<parameter name="@BigOctopusBombCount" layout="${event-properties:item=BigOctopusBombCount}"/>
			<parameter name="@BigOctopusBombTotalOdds" layout="${event-properties:item=BigOctopusBombTotalOdds}"/>
		</target>

		<!--StageRecord-->
		<target xsi:type="Database"
				name="StageRecord"
				dbProvider="System.Data.SQLite"
				connectionString="data source=${basedir}/logs/Formula_Record.s3db;"
				commandText="insert into StageRecord(
				time_stamp, 
				level,
				message, 
				FarmId, 
				FarmName,
				FarmBaseOdds,
				FarmMaxBet,
				FarmRate,
				FarmBaseOddsCount,
				FarmNowBaseOdds,
				FarmTotalSpending, 
				FarmWinScore, 
				FarmFireCount,
				BlockName,
				BlockTotal,
				BlockWinScore,
				BlockFireCount,
				BufferName,
				BufferWinScore,
				BufferRate,
				BufferTop,
				BufferGate,
				TempFireCount,
				TempAverageValue,
				TempAverageTimes,
				TempAverageTotal,
				TempHiLoRate,
				TempRealTime)
				
				values(
				@time_stamp, 
				@level,
				@message, 
				@FarmId, 
				@FarmName,
				@FarmBaseOdds,
				@FarmMaxBet,
				@FarmRate,
				@FarmBaseOddsCount,
				@FarmNowBaseOdds,
				@FarmTotalSpending, 
				@FarmWinScore, 
				@FarmFireCount,
				@BlockName,
				@BlockTotal,
				@BlockWinScore,
				@BlockFireCount,
				@BufferName,
				@BufferWinScore,
				@BufferRate,
				@BufferTop,
				@BufferGate,
				@TempFireCount,
				@TempAverageValue,
				@TempAverageTimes,
				@TempAverageTotal,
				@TempHiLoRate,
				@TempRealTime);">
			<!--system default-->
			<parameter name="@time_stamp" layout="${date}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
			<!--FarmData-->
			<parameter name="@FarmId" layout="${event-properties:item=FarmId}"/>
			<parameter name="@FarmName" layout="${event-properties:item=FarmName}"/>
			<parameter name="@FarmBaseOdds" layout="${event-properties:item=FarmBaseOdds}"/>
			<parameter name="@FarmMaxBet" layout="${event-properties:item=FarmMaxBet}"/>
			<parameter name="@FarmRate" layout="${event-properties:item=FarmRate}"/>
			<parameter name="@FarmBaseOddsCount" layout="${event-properties:item=FarmBaseOddsCount}"/>
			<parameter name="@FarmNowBaseOdds" layout="${event-properties:item=FarmNowBaseOdds}"/>
			<parameter name="@FarmTotalSpending" layout="${event-properties:item=FarmTotalSpending}"/>
			<parameter name="@FarmWinScore" layout="${event-properties:item=FarmWinScore}"/>
			<parameter name="@FarmFireCount" layout="${event-properties:item=FarmFireCount}"/>
			<!--BlockData-->
			<parameter name="@BlockName" layout="${event-properties:item=BlockName}"/>
			<parameter name="@BlockTotal" layout="${event-properties:item=BlockTotal}"/>
			<parameter name="@BlockWinScore" layout="${event-properties:item=BlockWinScore}"/>
			<parameter name="@BlockFireCount" layout="${event-properties:item=BlockFireCount}"/>
			<!--BufferData-->
			<parameter name="@BufferName" layout="${event-properties:item=BufferName}"/>
			<parameter name="@BufferWinScore" layout="${event-properties:item=BufferWinScore}"/>
			<parameter name="@BufferRate" layout="${event-properties:item=BufferRate}"/>
			<parameter name="@BufferTop" layout="${event-properties:item=BufferTop}"/>
			<parameter name="@BufferGate" layout="${event-properties:item=BufferGate}"/>
			<!--TempData-->
			<parameter name="@TempFireCount" layout="${event-properties:item=TempFireCount}"/>
			<parameter name="@TempAverageValue" layout="${event-properties:item=TempAverageValue}"/>
			<parameter name="@TempAverageTimes" layout="${event-properties:item=TempAverageTimes}"/>
			<parameter name="@TempAverageTotal" layout="${event-properties:item=TempAverageTotal}"/>
			<parameter name="@TempHiLoRate" layout="${event-properties:item=TempHiLoRate}"/>
			<parameter name="@TempRealTime" layout="${event-properties:item=TempRealTime}"/>	
		</target>
		
	</targets>

	<rules>
<!--		<logger name="Test" minlevel="Trace" writeTo="Test"/>-->

		<logger name="Request" minlevel="Trace" writeTo="Request"/>
		<logger name="Response" minlevel="Trace" writeTo="Response"/>
		<logger name="PlayerRecord" minlevel="Trace" writeTo="PlayerRecord"/>
		<logger name="StageRecord" minlevel="Trace" writeTo="StageRecord"/>
<!--		<logger name="DBServer" minlevel="Trace" writeTo="DBServer" />-->
<!--		-->
<!--		<logger name="*" minlevel="Trace" writeTo="f" />-->
	</rules>

</nlog>