<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


	<!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="myvar" value="myvalue"/>

	<!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${all-event-properties}" />

		<target xsi:type="Database"
				name="Test"
				dbProvider="System.Data.SQLite"
				connectionString="data source=${basedir}/Formula_Record.s3db;"
				commandText="insert into Test(time_stamp, level, message) values(@time_stamp, @level, @message);">

			<!--system default-->
			<parameter name="@time_stamp" layout="${date}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
		</target>

		<!--Request-->
		<target xsi:type="Database"
				name="Request"
				dbProvider="System.Data.SQLite"
				connectionString="data source=${basedir}/Formula_Record.s3db;"
				commandText="insert into Request(
				time_stamp, 
				level, 
				message, 
				FarmId, 
				PlayerId, 
				BulletId, 
				WeaponType, 
				Bet, 
				Odds, 
				Hits, 
				FishId, 
				FishType, 
				FishStatus, 
				FishOdds) 
				
				values(
				@time_stamp, 
				@level, 
				@message, 
				@FarmId, 
				@PlayerId, 
				@BulletId, 
				@WeaponType, 
				@Bet, 
				@Odds, 
				@Hits, 
				@FishId, 
				@FishType, 
				@FishStatus, 
				@FishOdds);">
			
			<!--system default-->
			<parameter name="@time_stamp" layout="${date}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
			<!--custom default-->
			<parameter name="@FarmId" layout="${event-properties:item=FarmId}"/>
			<parameter name="@PlayerId" layout="${event-properties:item=PlayerId}"/>
			<parameter name="@BulletId" layout="${event-properties:item=BulletId}"/>
			<parameter name="@WeaponType" layout="${event-properties:item=WeaponType}"/>
			<parameter name="@Bet" layout="${event-properties:item=Bet}"/>
			<parameter name="@Odds" layout="${event-properties:item=Odds}"/>
			<parameter name="@Hits" layout="${event-properties:item=Hits}"/>
			<parameter name="@FishId" layout="${event-properties:item=FishId}"/>
			<parameter name="@FishType" layout="${event-properties:item=FishType}"/>
			<parameter name="@FishStatus" layout="${event-properties:item=FishStatus}"/>
			<parameter name="@FishOdds" layout="${event-properties:item=FishOdds}"/>
		</target>

		<!--Response-->
		<target xsi:type="Database"
				name="Response"
				dbProvider="System.Data.SQLite"
				connectionString="data source=${basedir}/Formula_Record.s3db;"
				commandText="insert into Response(
				time_stamp, 
				level, 
				message, 
				FarmId, 
				PlayerId, 
				BulletId, 
				FishId, 
				DieResult,
				FeedbackWeapons,
				Bet,
				OddsResult,
				DieRate,
				DieRatePrecent) 

				values(
				@time_stamp, 
				@level, 
				@message, 
				@FarmId, 
				@PlayerId, 
				@BulletId, 
				@FishId, 
				@DieResult,
				@FeedbackWeapons,
				@Bet,
				@OddsResult,
				@DieRate,
				@DieRatePrecent);">

			<!--system default-->
			<parameter name="@time_stamp" layout="${date}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
			<!--custom default-->
			<parameter name="@FarmId" layout="${event-properties:item=FarmId}"/>
			<parameter name="@PlayerId" layout="${event-properties:item=PlayerId}"/>
			<parameter name="@BulletId" layout="${event-properties:item=BulletId}"/>
			<parameter name="@FishId" layout="${event-properties:item=FishId}"/>
			<parameter name="@DieResult" layout="${event-properties:item=DieResult}"/>
			<parameter name="@FeedbackWeapons" layout="${event-properties:item=FeedbackWeapons}"/>
			<parameter name="@Bet" layout="${event-properties:item=Bet}"/>
			<parameter name="@OddsResult" layout="${event-properties:item=OddsResult}"/>
			<parameter name="@DieRate" layout="${event-properties:item=DieRate}"/>
			<parameter name="@DieRatePrecent" layout="${event-properties:item=DieRatePrecent}"/>
		</target>

		<!--FeedbackWeapon Data-->
		<target xsi:type="Database"
				name="FeedbackWeapon"
				dbProvider="System.Data.SQLite"
				connectionString="data source=${basedir}/Formula_Record.s3db;"
				commandText="insert into FeedbackWeapon(
				time_stamp, 
				level, 
				message, 
				FarmId, 
				Guid, 
				BulletId, 
				WeaponType)
				
				values(
				@time_stamp, 
				@level, 
				@message, 
				@FarmId, 
				@Guid, 
				@BulletId, 
				@WeaponType);">

			<!--system default-->
			<parameter name="@time_stamp" layout="${date}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
			<!--custom default-->
			<parameter name="@FarmId" layout="${event-properties:item=FarmId}"/>
			<parameter name="@Guid" layout="${event-properties:item=Guid}"/>
			<parameter name="@BulletId" layout="${event-properties:item=BulletId}"/>
			<parameter name="@WeaponType" layout="${event-properties:item=WeaponType}"/>
		</target>


		<!--AdjustmentGameLevelRule Data-->
		<target xsi:type="Database"
				name="AdjustmentGameLevelRule"
				dbProvider="System.Data.SQLite"
				connectionString="data source=${basedir}/Formula_Record.s3db;"
				commandText="insert into AdjustmentGameLevelRule(
				time_stamp, 
				level, 
				message, 
				FarmId, 
				FocusBufferBlock, 
				NowBaseOdds, 
				BufferTemp,
				Buffer,
				HiLoRate)
				
				values(
				@time_stamp, 
				@level, 
				@message, 
				@FarmId, 
				@FocusBufferBlock, 
				@NowBaseOdds, 
				@BufferTemp,
				@Buffer,
				@HiLoRate);">

			<!--system default-->
			<parameter name="@time_stamp" layout="${date}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
			<!--custom default-->
			<parameter name="@FarmId" layout="${event-properties:item=FarmId}"/>
			<parameter name="@FocusBufferBlock" layout="${event-properties:item=FocusBufferBlock}"/>
			<parameter name="@NowBaseOdds" layout="${event-properties:item=NowBaseOdds}"/>
			<parameter name="@BufferTemp" layout="${event-properties:item=BufferTemp}"/>
			<parameter name="@Buffer" layout="${event-properties:item=Buffer}"/>
			<parameter name="@HiLoRate" layout="${event-properties:item=HiLoRate}"/>
		</target>

		<!--AccumulationBufferRule Data-->
		<target xsi:type="Database"
				name="AccumulationBufferRule"
				dbProvider="System.Data.SQLite"
				connectionString="data source=${basedir}/Formula_Record.s3db;"
				commandText="insert into AccumulationBufferRule(
				time_stamp, 
				level, 
				message, 
				FarmId, 
				PlayTotal, 
				WinScore, 
				PlayTimes,
				WinFrequency,
				AsnTimes,
				AsnWin)
				
				values(
				@time_stamp, 
				@level, 
				@message, 
				@FarmId, 
				@PlayTotal, 
				@WinScore, 
				@PlayTimes,
				@WinFrequency,
				@AsnTimes,
				@AsnWin);">

			<!--system default-->
			<parameter name="@time_stamp" layout="${date}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
			<!--custom default-->
			<parameter name="@FarmId" layout="${event-properties:item=FarmId}"/>
			<parameter name="@PlayTotal" layout="${event-properties:item=PlayTotal}"/>
			<parameter name="@WinScore" layout="${event-properties:item=WinScore}"/>
			<parameter name="@PlayTimes" layout="${event-properties:item=PlayTimes}"/>
			<parameter name="@WinFrequency" layout="${event-properties:item=WinFrequency}"/>
			<parameter name="@AsnTimes" layout="${event-properties:item=AsnTimes}"/>
			<parameter name="@AsnWin" layout="${event-properties:item=AsnWin}"/>
		</target>
		
		
		
	</targets>

	<rules>
		<logger name="Test" minlevel="Trace" writeTo="Test"/>

		<logger name="Request" minlevel="Trace" writeTo="Request"/>
		<logger name="Response" minlevel="Trace" writeTo="Response"/>
		<logger name="FeedbackWeapon" minlevel="Trace" writeTo="FeedbackWeapon"/>
		<logger name="AdjustmentGameLevelRule" minlevel="Trace" writeTo="AdjustmentGameLevelRule"/>
		<logger name="AccumulationBufferRule" minlevel="Trace" writeTo="AccumulationBufferRule"/>
		
		<logger name="*" minlevel="Trace" writeTo="f" />
	</rules>

</nlog>