<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 為避免洩漏中繼資料資訊，請在部署之前將下列值設定為 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- 為接收錯誤中的例外狀況詳細資料以用於偵錯用途，請將下面的值設定為 true。請在部署之前將該值設定為 false，以避免例外狀況資訊洩漏-->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在偵錯期間瀏覽 Web 應用程式根目錄，請將下面的值設為 true。
        請在部署之前將該值設定為 false，以避免 Web 應用程式資料夾資訊洩漏。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
