
@{
    ViewBag.Title = "Recode";
}

<h2>Recode</h2>

@model VGame.Project.FishHunter.Data.Account[]


    
@using (Html.BeginForm("AddMoney", "Recode", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return validateForm(this)" }))
{
    <div>
        <table>
            @foreach (var acc in Model)
            {
                <tr><td>@acc.Name</td></tr>

                
                
                <tr><td>儲值金額</td><td>@Html.EditorFor(m => m.TheAccount.Name)</td></tr>
            }
        </table>
    </div>
}


<div>
    @{
        using (Html.BeginForm("AddMoney", "Recode", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return validateForm(this)" }))
        {
            <div class="form-group">
                @Html.Label("儲值金額")
                @Html.EditorFor(m => m.Name)
            </div>

            <input type="submit" value="確認" class="btn btn-default" />
        }
    }
</div>


