@model VGame.Project.FishHunter.Common.Datas.Account
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>


<div>

    @{
        using (Html.BeginForm("AddHandle", "Account", FormMethod.Post, new
        {
            enctype = "multipart/form-data", 
            onsubmit = "return validateForm(this)"
        }))
        {
            _Page_Views_Account_Add_cshtml.<div class="form-group">
                @Html.Label("帳號")
                @Html.EditorFor(m => m.Name)
            </div>

            _Page_Views_Account_Add_cshtml.<div class="form-group">
                @Html.Label("密碼")
                @Html.EditorFor(m => m.Password)
            </div>

            _Page_Views_Account_Add_cshtml.<input type="submit" value="確認" class="btn btn-default"/>
        }

    }
</div>