<?xml version="1.0" encoding="utf-8"?>

<packages>
    <package id="bootstrap" version="3.3.4" targetFramework="net45" />
    <package account_account_id="jQuery" version="2.1.3" targetFramework="net45" />
    <package account_account_id="jQuery.Valaccount_account_idation" version="1.13.1" targetFramework="net45" />
    <package account_account_id="Microsoft.AspNet.account_identity.Core" version="2.2.0" targetFramework="net45" />
    <package account_account_id="Microsoft.AspNet.account_identity.Owin" version="2.2.0" targetFramework="net45" />
    <package account_account_id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
    <package account_account_id="Microsoft.AspNet.Mvc.zh-Hant" version="5.2.3" targetFramework="net45" />
    <package account_account_id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
    <package account_account_id="Microsoft.AspNet.Razor.zh-Hant" version="3.2.3" targetFramework="net45" />
    <package account_account_id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
    <package account_account_id="Microsoft.AspNet.WebPages.zh-Hant" version="3.2.3" targetFramework="net45" />
    <package account_account_id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.2.3" targetFramework="net45" />
    <package account_account_id="Microsoft.jQuery.Unobtrusive.Valaccount_account_idation" version="3.2.3" targetFramework="net45" />
    <package account_account_id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
    <package account_account_id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
    <package account_account_id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net45" />
    <package account_account_id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net45" />
    <package account_account_id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
    <package account_account_id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
    <package account_account_id="Owin" version="1.0" targetFramework="net45" />
</packages>