

@{
    
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<div id="State">


</div>


<script type="text/javascript">
    function UpdateServerState()
    {        
        
        $.ajax({
            url: '@Url.Action("ServerState", "Server")',
            data : {},
            type: "POST",
            success : function (response) 
            {
                
                document.getElementById("State").innerHTML = response;
                UpdateServerState();
            }
        })
    }
    UpdateServerState();
    
</script>

