name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: '3.1.100'
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: |        
        dotnet test /p:CollectCoverage=true  /p:CoverletOutput=../CoverageResults/ /p:MergeWith="../CoverageResults/coverage.json" /p:CoverletOutputFormat="lcov" -m:1        
        cp CoverageResults/coverage.info .
    
    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@master
      with:         
        github-token: '${{ secrets.GITHUB_TOKEN }}'
        path-to-lcov: coverage.info
    # Publish
    - name: publish nuget package
      uses: myci-actions/publish-nuget@2
      with:
        filename: '**/*.nupkg'
        api-key: 'oy2ova7m6sfay6sogx2afadp4lfys6uu7h7boru6vyytwq'